@include mediaSm{

    #showcase{
        height: 100vh;
    }

    #showcase-links{
        height: 80vh;
        .showcase-box{
            border: none;
        }
    }

    .appointment-brands{
        .d-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 1rem;
        }
    }
    
}


@include mediaMd{
    // main header top
    #main-header-top{
        display: none;
    }

    // main header top
    #main-header-bottom{
        .header-bottom-links{
            display: none;
        }
        .menu-btn{
            display: block;
        }
    }

    #showcase{
        height: 100vh;
    }

    #showcase-links{
        height: 55vh;
        .showcase-box{
            margin: 20px 0;
            &:nth-child(3n){
                border: none;
            }
        }
    }

    .appointment-brands{
        .d-grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 1rem;
        }
    }
}


@include mediaLg{

    .menu-btn{
        display: none;
    }

    #showcase{
        height: 85vh;
    }
    #showcase-links{
        height: 20vh;
    }

    .appointment-brands{
        .d-grid{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 1rem;
        }
    }
}




@include mediaXl{
}